:root {
  /* rarity */
  --n: #cccccc; /* ノーマル */
  --r: #00bcd4; /* レア（水色） */
  --sr: #b96bc7; /* スーパーレア（紫） */
  --ssr: #ffd700; /* スーパースペシャルレア（金） */

  --background: #f4f1de;
  --primary: #81b29a; /* 緑系ボタンなど */
  --accent: #f2cc8f; /* 黄みの装飾 */
  --danger: #e07a5f; /* 警告やアタック */
  --text: #3d405b; /* 濃い青グレー */
  --caution: #f00;

  --primary-hover: #6a9d84; /* 緑系ボタンなど */
  --accent-hover: #f2cc8f; /* 黄みの装飾 */
  --danger-hover: #c75136; /* 警告やアタック */

  --leading-trim: ;
}
