.h1 {
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
}

.text {
  margin-top: 40px;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.display {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.caution {
  margin-top: 40px;
  text-align: center;
}

.imgSlider {
  margin: 40px 0;
}
