.characterList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 60px;
  padding-left: 0;
  > .characterItem {
    padding: 20px;
    border-radius: 8px;
    border: 4px solid #000;
    background-color: #fff;
    .characterImage {
      max-width: 200px;
      margin-inline: auto;
    }
    .characterInfo {
      margin-top: 16px;
    }
    .characterName {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 28px;
    }
    .characterRarity {
      margin-bottom: 0;
      font-size: 14px;
    }
    .characterType {
      margin: 0;
      font-size: 14px;
    }
    .characterDesc {
      margin-bottom: 0;
    }
    &.rarity-N {
      border-color: var(--n);
    }
    &.rarity-R {
      border-color: var(--r);
    }
    &.rarity-SR {
      border-color: var(--sr);
    }
    &.rarity-SSR {
      border-color: var(--ssr);
    }
  }
}

@media screen and (max-width: 768px) {
  .characterList {
    grid-template-columns: 1fr;
    > .characterItem {
      .characterName {
        font-size: 18px;
      }
    }
  }
}
